textarea{
    resize: none;
}

.form-control {
    padding-left: 0;
    transition: all .5s;
    border-top: none;
    border-right: none;
    border-left: none;
    background-color: transparent;
}

a{
    cursor: pointer;
}

button {
    width: 6rem;
    background-color: #BCAD76;
    color: #fff;
    font-weight: 500;
    transition: 0.533ms ease-in-out;
}

button:hover{
    background-color: #fff;
    color:  #BCAD76;
    border: 1px solid #BCAD76;
}

.modal-header .close {

    background-color: transparent;
    color:  #BCAD76;
    border: transparent;
}

