<div class="container mt-5">
  <div class="row align-items-center">
    <div class="col-xl-8">
      <h6 class="text-primary text-uppercase letter-spacing-5 mb-1"> Sobre nós</h6>
      <h1 class="display-3 font-weight-bold mb-3">ecous</h1>
      <p class="text-lg text-muted text-body">Acreditamos que outro viver é possível. Que podemos cuidar da terra com o amor e
        carinho que ela cuida de nós. </p>
      <p class="text-lg text-muted text-body">Fundada baseando seus princípios comerciais no projeto ODS (Objetivos de
        Desenvolvimento Sustentável) - da Organização das Nações Unidas, pensamos em como poderíamos combater as
        mudanças climáticas e seus impactos, e ainda assim oferecer produtos personalizados e com controle de qualidade
        que só a Ecous pensaria.</p>
      <p class="text-lg text-muted text-body">Como é feito esse controle de qualidade? Simples, selecionamos os melhores artesãos
        e marcas de produtos ecologicamente corretos e que possuem embalagens não prejudiciais ao meio ambiente e os
        vendemos aqui. Além de adquirirem produtos conscientes, a preços justos, essas vendas são convertidas em mudas
        de árvores nativas da floresta Amazônica.</p>
    </div>
    
    <div class="col-xl-4">
      <img src="https://i.imgur.com/VFfCacS.gif" style="max-width: 100%;" class="img-logo" alt="Logo-Ecous">
    </div>
  </div>
</div>


<div class="container pt-4 pb-6">
  <div class="row mb-5">
    <div class="col-xl-8">
      <h6 class="text-primary text-uppercase letter-spacing-5 mb-1"> Nosso Projeto</h6>
      <h2 class="display-3 font-weight-bold mb-3">(muda)nça </h2>
    </div>
  </div>
  <div class="row mb-5 align-items-center">
    <div class="col-sm-4 ">
      <img src="https://i.imgur.com/cudNvDC.gif" style="max-width: 100%;">
    </div>
    <div class="col-sm-8 col-md-6 offset-md-1 d-flex align-items-center">
      <div>
        <h6 class="text-uppercase text-muted letter-spacing-5  mb-1">Pequenas ações, grandes impactos</h6>
        <h2 class="mb-4">Uma muda e já não estamos no mesmo lugar</h2>
        <p class="text-lg text-muted text-body">Nosso projeto é fazer com que nossos clientes olhem para a Terra com outros olhos,
          com amor e esperança, por isso 40% do valor de suas compras será convertido pra compra de mudas nativas da
          floresta Amazônica, pensando em um futuro em que o desmatamento não será mais uma realidade, em que a poluição
          atmosférica será revertida e o clima será mais agradável para nós e para as próximas gerações. </p>
        <p class="text-lg text-muted text-body"> <b>Toda gentileza ao meio ambiente, a natureza agradece!</b></p>
      </div>
    </div>
  </div>
</div>

<div class="container pt-4 pb-6">
  <div class="row mb-5">
    <div class="col-xl-8">
      <h6 class="text-primary text-uppercase letter-spacing-5 mb-1"> Nosso Time</h6>      
      <h1 class="display-3 font-weight-bold mb-3">developers</h1>
      <p class="text-muted mb-6 text-body">Esse é o time que deixou de apenas sonhar com o amanhã, vestiu as luvas da mudança e decidiu fazer a diferença com muita integridade, respeito e harmonia entre todos.</p>
        <p class="text-muted mb-6"><i>"O sucesso é a soma de pequenos esforços repetidos dia após dia"</i> - Robert Collier</p>
      </div>
  </div>
</div>
  <div class="content">
    <div class="cardImg">
      <div class="img-Bx">
        <img src="https://avatars.githubusercontent.com/u/87526945?v=4" alt="">
      </div>
      <div class="content-text">
        <h4 class="h6">Ana Lima</h4>
        <p>Dev. Java Júnior</p>
        <span  class="d-flex justify-content-center mt-4">
          <a href="https://github.com/Ana-Carolline" target="blank">
            <img src="https://i.imgur.com/GAlrQOZ.png" style="width: 1.9rem; height: 1.9rem;" class="mr-2" alt="">
          </a> 
          <a href="https://www.linkedin.com/in/ana-carolline-lima-b51701213/" target="blank">
            <img src="https://i.imgur.com/IdQ4QKY.png" style="width: 1.9rem; height: 1.9rem;"  alt="">
          </a>
         </span>
      </div>
    </div>

    <div class="cardImg">
      <div class="img-Bx">
        <img src="https://avatars.githubusercontent.com/u/88200400?v=4" alt="">
      </div>
      <div class="content-text">
        <h4 class="h6">Bárbara Cristiane</h4>
        <p>Dev. Java Júnior</p>
        <span  class="d-flex justify-content-center mt-4">
          <a href="https://github.com/bacristiane" target="blank">
            <img src="https://i.imgur.com/GAlrQOZ.png" style="width: 1.9rem; height: 1.9rem;"  class="mr-2" alt="">
          </a>
          <a href="https://www.linkedin.com/in/b%C3%A1rbaracfs/" target="blank">
            <img src="https://i.imgur.com/IdQ4QKY.png" style="width: 1.9rem; height: 1.9rem;" alt="">
          </a>
        </span>
      </div>
    </div>

    <div class="cardImg">
      <div class="img-Bx">
        <img src="https://avatars.githubusercontent.com/u/88193030?v=4" alt="">
      </div>
      <div class="content-text">
        <h4 class="h6">Beatriz Castro</h4>
        <p>Dev. Java Júnior</p>
        <span  class="d-flex justify-content-center mt-4">
          <a href="https://github.com/beatrizcastroe" target="blank">
            <img src="https://i.imgur.com/GAlrQOZ.png" style="width: 1.9rem; height: 1.9rem;"  class="mr-2" alt="">
          </a>
          <a href="https://www.linkedin.com/in/beatriz-castro009/" target="blank">
            <img src="https://i.imgur.com/IdQ4QKY.png" style="width: 1.9rem; height: 1.9rem;" alt="">
          </a>
        </span>
      </div>
    </div>

    <div class="cardImg">
      <div class="img-Bx">
        <img src="https://avatars.githubusercontent.com/u/88197248?v=4"  alt="">
      </div>
      <div class="content-text">
        <h4 class="h6">Bruno Daniel</h4>
        <p>Dev. Java Júnior</p>
        <span  class="d-flex justify-content-center mt-4">
          <a href="https://github.com/BRNDANIEL" target="blank">
            <img src="https://i.imgur.com/GAlrQOZ.png" style="width: 1.9rem; height: 1.9rem;"  class="mr-2"  alt="">
          </a>
          <a href="https://www.linkedin.com/in/bruno-daniel-b6289021b/" target="blank">
            <img src="https://i.imgur.com/IdQ4QKY.png" style="width: 1.9rem; height: 1.9rem;" alt="">
          </a>
        </span>
      </div>
    </div>

    <div class="cardImg">
      <div class="img-Bx">
        <img src="https://avatars.githubusercontent.com/u/80595156?v=4"  alt="">
      </div>
      <div class="content-text">
        <h4 class="h6">Bruno Luna</h4>
        <p>Dev. Java Júnior</p>
        <span  class="d-flex justify-content-center mt-4">
          <a href="https://github.com/Bruno-Luna" target="blank">
            <img src="https://i.imgur.com/GAlrQOZ.png" style="width: 1.9rem; height: 1.9rem;"  class="mr-2" alt="">
          </a>
          <a href="https://www.linkedin.com/in/lunabr/" target="blank">
            <img src="https://i.imgur.com/IdQ4QKY.png" style="width: 1.9rem; height: 1.9rem;" alt="">
          </a>
        </span>
      </div>
    </div>

    <div class="cardImg">
      <div class="img-Bx">
        <img src="https://avatars.githubusercontent.com/u/83474842?v=4"  alt="">
      </div>
      <div class="content-text">
        <h4 class="h6">Diego Silva</h4>
        <p>Dev. Java Júnior</p>
        <span  class="d-flex justify-content-center mt-4">
          <a href="https://github.com/diegobsilva10" target="blank">
            <img src="https://i.imgur.com/GAlrQOZ.png" style="width: 1.9rem; height: 1.9rem;"  class="mr-2 "  alt="">
          </a>
          <a href="https://www.linkedin.com/in/diego-silva-2479711a7/" target="blank">
            <img src="https://i.imgur.com/IdQ4QKY.png" style="width: 1.9rem; height: 1.9rem;" alt="">
          </a>
       </span>
      </div>
    </div>
  </div>


  <div class="container pt-4 pb-6">
    <div class="row mb-5">
  
      <div class="col-xl-8">
        <h6 class="text-primary text-uppercase letter-spacing-5 mb-1"> Nossos Parceiros</h6>
        <h1 class="display-3 font-weight-bold mb-3">empresas</h1>
        <p class="text-muted mb-6 text-body">Confira nossas lojas parceiras, que se ergueram com os mesmos princípios e a sede de mudança em que a <b>eco</b>us foi criada:</p>
        </div>
    </div>
  </div>
    <div class="content">
      <div class="cardImg">
        <div class="img-Bx">
          <img src="https://i.imgur.com/zLKkg0Y.png" alt="">
        </div>
        <div class="content-text">
          <a href="https://action-for-life.netlify.app/" target="_blank">
            <h4 class="h6">Action For Life</h4>          
          </a>
          <span  class="d-flex justify-content-center">
            <p class="text-muted mb-6">Criada com o intuito de reduzir a desigualdade dentro dos países e entre eles para alcançar e sustentar o crescimento da renda da população mais pobre do Brasil.</p>
           </span>
        </div>
      </div>

      <div class="cardImg">
        <div class="img-Bx">
          <img src="https://i.imgur.com/XGwweaU.png"  alt="">
        </div>
        <div class="content-text">
          <a href="https://baependi.netlify.app/" target="_blank">
            <h4 class="h6">Baependi</h4>          
          </a>
          <span  class="d-flex justify-content-center">
            <p class="text-muted mb-6">Pautado na visão holística do meio ambiente, voltado a comercialização de produtos reutilizados/reciclados, com destaque a artigos feitos á mão.</p>
           </span>
        </div>
      </div>

      <div class="cardImg">
        <div class="img-Bx">
          <img src="https://i.imgur.com/4c5NzcX.png"  alt="">
        </div>
        <div class="content-text">
          <a href="https://ecobookproject.netlify.app/#/home" target="_blank">
            <h4 class="h6">Eco.Book</h4>          
          </a>
          <span  class="d-flex justify-content-center">
            <p class="text-muted mb-6">A eco.Book acredita que um dos caminhos para o desenvolvimento sustentável é a
              educação. Incentivamos a leitura com consumo consciente.</p>
           </span>
        </div>
      </div>

      <div class="cardImg">
        <div class="img-Bx">
          <img src="https://i.imgur.com/OFzlA2N.png"  alt="">
        </div>
        <div class="content-text">
          <a href="https://climatika-store.netlify.app/" target="_blank">
            <h4 class="h6">Climatika Store</h4>          
          </a>
          <span  class="d-flex justify-content-center">
            <p class="text-muted mb-6">Um e-commerce empenhado em reduzir impactos ambientais e sociais de consumo com
              produtos ecológicos e parcerias com pequenos empreendedores.</p>
           </span>
        </div>
      </div>

      <div class="cardImg">
        <div class="img-Bx">
          <img src="https://i.imgur.com/gteIS9D.png"  alt="">
        </div>
        <div class="content-text">
          <a href="https://projetogaia.netlify.app/home" target="_blank">
            <h4 class="h6">Gaia Ecommerce</h4>          
          </a>
          <span  class="d-flex justify-content-center">
            <p class="text-muted mb-6">Nossa missão é trazer a dinâmica da ecologia para todos os nossos clientes, e
              também oferecer créditos bônus para compras com nossos parceiros.</p>
           </span>
        </div>
      </div>

      <div class="cardImg">
        <div class="img-Bx">
          <img src="https://i.imgur.com/jkapNNHh.jpg"  alt="">
        </div>
        <div class="content-text">
          <a href="https://brazil.generation.org/" target="_blank">
            <h4 class="h6">Generation Brasil</h4>          
          </a>
          <span  class="d-flex justify-content-center">
            <p class="text-muted mb-6">Nossa missão é transformar sistemas de educação para o emprego de maneira a preparar, colocar e apoiar pessoas em carreiras transformadoras que, de outra forma, seriam inacessíveis.</p>
           </span>
        </div>
      </div>
    </div>