textarea{
    resize: none;
}

a {
    color: #bcac76;
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
}

body {
    margin: 0;
    font-family: "vremenagrotesk",sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6;
    color: #212529;
    text-align: left;
    background-color: #fff;
}


.list-unstyled a{
    cursor:default;
}

.close{
    color: #BCAD76;
}

.btn-list{
    width: 6rem;
    background-color: #BCAD76;
    color: #fff;
    font-weight: 500;
}

.btn-list:hover{
    background-color: #fff;
    color:  #BCAD76;
    border: 1px solid #BCAD76;
}

